@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&family=Nanum+Gothic&display=swap');

/* Reset */
html { font-size: 10px; }
body * { outline: none; box-sizing: border-box; }
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
body{background:#fff;-webkit-text-size-adjust:none;word-wrap:break-word;word-break:keep-all;}
body,input,select,textarea,pre { border:none; font-size:1.6rem; font-family: 'Inter', sans-serif; color:#000; margin: 0 auto; }
button { border:none; font-family: 'Inter', sans-serif; color:#fff; outline: none; cursor: pointer; background-color: transparent; }
ul,ol,li{list-style:none;}
table{ border-spacing:0; }
img,fieldset{border:0;}
address,cite,code,em{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button{vertical-align:middle;}
.hide,legend{overflow: hidden; display:block; position:absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);}
hr{display:none;}
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:#000;text-decoration:none;}
pre{ white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; color: #000; line-height: 3rem; }

/* rem rule */
@media (max-width: 768px)
{
    html { font-size: 8px; }
}
@media (max-width: 420px)
{
    html { font-size: 6px; }
}

/* 공통 */
.conBox_1128 { width: 90%; max-width: 112.8rem; margin: 0 auto; }

/* header */
header { position: fixed; left: 0; right: 0; box-shadow: rgba(0,0,0,0.1) 0 0.8rem 0.8rem; }
header .conBox_1128 { position: relative; display: flex;justify-content:space-between; align-items: center; height: 8rem; }
header h1 { font-size: 3.2rem; font-weight: 700;}
header h1 img { width: 5.5rem; margin-right: 1.2rem; }
header h1 span { vertical-align: middle; }
header .dropDown > button { width: 3.4rem; height: 2.4rem; background: url('../public/ico_menu.png') center / 3.4rem; }
header .dropDown ul { opacity: 0; height: 0; overflow: hidden; position: absolute; right: -4.4rem; top: 7.2rem; background-color: #fff; border-radius: 1.2rem; filter: drop-shadow(rgba(0,0,0,0.2) 0.1rem 0.4rem 2.1rem); width: 20rem; transition: all 0.5s; }
header .dropDown.active ul { opacity: 1; height: auto; overflow: visible; transition: all 0.5s; }
header .dropDown ul:before { content: ''; display: block; position: absolute; top: -1.8rem; right:5.4rem; width: 1.6rem; height: 1.8rem; background: url(../public/ico_Polygon.png) center / 1.6rem; }
header .dropDown li ~ li { border-top: 1px solid rgba(0, 0, 0, 0.1) }
header .dropDown .user { height: 5rem; line-height: 5rem; text-align: center; }
header .dropDown ul a { display: block; height: 5rem; line-height: 5rem; }
header .dropDown ul a img { width: 2rem; margin-left: 2rem; margin-right: 0.8rem; }



@media (max-width: 768px)
{
    header .dropDown ul { right: 0; }
    header .dropDown ul:before { right: 0.9rem; }
}