@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&family=Nanum+Gothic&display=swap');

/* Reset */
html { font-size: 10px; }
body * { outline: none; box-sizing: border-box; }
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
body{background:#fff;-webkit-text-size-adjust:none;word-wrap:break-word;word-break:keep-all;}
body,input,select,textarea,pre { border:none; font-size:1.6rem; font-family: 'Inter', sans-serif; color:#000; margin: 0 auto; }
button { border:none; font-family: 'Inter', sans-serif; color:#fff; outline: none; cursor: pointer; background-color: transparent; }
ul,ol,li{list-style:none;}
table{ border-spacing:0; }
img,fieldset{border:0;}
address,cite,code,em{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button{vertical-align:middle;}
.hide,legend{overflow: hidden; display:block; position:absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);}
hr{display:none;}
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:#000;text-decoration:none;}

/* rem rule */
@media (max-width: 768px)
{
    html { font-size: 8px; }
}
@media (max-width: 420px)
{
    html { font-size: 6px; }
}

/* 공통 */
.content_guide { width: 90%; max-width: 112.8rem; margin: 0 auto; }
main.content_guide { padding: 10.4rem 0 2.4rem; min-height: calc(100vh - 5.8rem); }

/* header */
header { position: fixed; left: 0; right: 0; top: 0; box-shadow: rgba(0,0,0,0.1) 0 0.8rem 0.8rem; z-index: 100; background-color: #fff; }
header .content_guide { position: relative; display: flex; justify-content:space-between; align-items: center; height: 8rem; }
header h1 { font-size: 3.2rem; font-weight: 700;}
header h1 img { width: 5.5rem; margin-right: 1.2rem; }
header h1 span { vertical-align: middle; }
header .dropBack { position: fixed; left: 0; right: 0; top: 0; bottom: 0;}
header .dropDown > button { width: 3.4rem; height: 2.4rem; background: url('../public/ico_menu.png') center / 3.4rem; position: relative; z-index: 1; }
header .dropDown ul { opacity: 0; visibility: hidden; position: absolute; right: -4.4rem; top: 7.2rem; background-color: #fff; border-radius: 1.2rem; filter: drop-shadow(rgba(0,0,0,0.2) 0.1rem 0.4rem 2.1rem); width: 20rem; transition: all 0.5s; }
header .dropDown.active ul { opacity: 1; visibility: visible; }
header .dropDown ul:before { content: ''; display: block; position: absolute; top: -1.8rem; right:5.4rem; width: 1.6rem; height: 1.8rem; background: url(../public/ico_Polygon.png) center / 1.6rem; }
header .dropDown li ~ li { border-top: 1px solid rgba(0, 0, 0, 0.1) }
header .dropDown .user { height: 5rem; line-height: 5rem; text-align: center; }
header .dropDown ul a { display: block; height: 5rem; line-height: 5rem; }
header .dropDown ul a img { width: 2rem; margin-left: 2rem; margin-right: 0.8rem; }

@media (max-width: 768px)
{
    header .dropDown ul { right: 0; }
    header .dropDown ul:before { right: 0.9rem; }
}

/* footer */
footer { display: flex; justify-content: center; align-items: center; flex-direction: column; border-top: 1px solid rgba(0, 0, 0, 0.1); height: 5.8rem; font-size: 1.2rem; color: #888; line-height: 1.8rem; }

/* main */
.mainTit { display: block; font-size: 2.4rem; padding-bottom: 1.2rem; }
.mainTit ~ .mainTit { padding-top: 1.2rem; }

/* list 공통 */
.list { display: flex; gap: 2.4rem; justify-content: space-between; }
.list li { width: 25%; cursor: pointer; }
.list .imgConbox { position: relative; display: flex; border-radius: 1.2rem; overflow: hidden; height: 21rem; }
.list .imgConbox img { object-fit: cover; width: 100%; }
.label_star { position: absolute; right: 1.2rem; bottom: 1.2rem; width: 2.4rem; height: 2.4rem; background: url('../public/ico_bookOff.png') no-repeat center / 2.4rem; transition: 0.3s; cursor: pointer; }
.inp_star:checked + .label_star { background-image: url('../public/ico_bookOn.png'); }
.txtConbox { display: flex; justify-content: space-between; padding-top: 1.2rem; line-height: 2.4rem; }
.listTit strong { display: block; font-weight: 800; } 
.listTit p { font-weight: 400; }
.listPrice { text-align: right; }
.col_blue { color: #452CDD; }

@media (max-width: 768px)
{
    .list { flex-wrap: wrap; }
    .list li { width: calc(50% - 1.2rem); }
}